# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/caches/
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/workspace.xml
app/libs/
app/src/androidTest/
app/src/test/
