# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/caches/
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/workspace.xml
app/src/androidTest/
app/src/test/
.idea/Android-WUtils.iml
build/
src/androidTest/
src/main/java/com/withever/wutils/base/
src/main/res/drawable/
src/test/
